  <%= form_with(model: [mystery,comment], html: { method: :post }, local: true) do |f| %>
    <div class="form-group">
      <%= f.text_area :comment, placeholder: "コメントを書いてね", rows:'5', class:"form-control" %>
    </div>
    <div class="action text-center">
      <%= f.submit "コメント投稿", class:"btn btn-success" %>
    </div>
  <% end %>