<% mystery.comments.each do |comment| %>
  <tr>
    <td><%= comment.comment %></td>
    <td>by <%= comment.user.name %></td>
    <td><%= l comment.created_at, format: :short %></td>
    <% if comment.user.id == current_user.id %>
      <td>
        <%= link_to mystery_comment_path(mystery,comment), method: :delete, remote: true do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
      <td>
        <i class="fas fa-edit edit-comment-btn"></i>
      </td>
    <% end %>
  </tr>
<% end %>