<h3 class="header">
  <% if @user == current_user %>
    フォローされているユーザー
  <% else %>
    <%= @user.name %> さんをフォローしているユーザー
  <% end %>
</h3>
<%= render 'users/profile', user: @user %>
<%= render 'relationships/index', users: @user.followers %>

