<h4 class="header text-center">
  <% if @user == current_user %>
    フォローしているユーザー
  <% else %>
    <%= @user.name %> さんがフォローしているユーザー
  <% end %>
</h4>
<%= render 'users/profile', user: @user %>
<%= render 'relationships/index', users: @user.followings %>

