<h4 class="header text-center">
  <% if @user == current_user %>
    フォローされているユーザー
  <% else %>
    <%= @user.name %> さんをフォローしているユーザー
  <% end %>
</h4>
<%= render 'users/profile', user: @user %>
<%= render 'relationships/index', users: @user.followers %>

