<h3 class="header">
  <% if @user == current_user %>
    フォローしているユーザー
  <% else %>
    <%= @user.name %> さんがフォローしているユーザー
  <% end %>
</h3>
<%= render 'users/profile', user: @user %>
<%= render 'relationships/index', users: @user.followings %>

