<div class="about-box col-10 offset-1">
  <div class=" text-box text-center">
    <h3 class="header mt-5 mb-4">Mystery Clubとは……</h3>
    <p>
      Mystery Clubは謎解きが好きな人の交流を目的としたSNSです。</br>
      作成した謎解きを共有したり、他のユーザーの謎解きを閲覧することできます。</br>
      謎解きを解くのが好きな人</br>
      謎解きを作るのが好きな人</br>
      どんな人でも大歓迎です！</br>
      あなたも謎解きを通していろんな人と交流してみませんか？</br>
      新規登録は <%= link_to "こちら", new_user_registration_path %> から！</br>
      既に会員の方は <%= link_to "こちら", new_user_session_path %> からログインしてください
    </p>
  </div>
</div>