/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@font-face {
  font-family: "cinecaption226";
  src: font-url('cinecaption226.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JNRfont_n";
  src: font-url('JNRfont_n.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

header, footer {
  // background-color: #996633;
  background-color: #A0522D;
}

.nav-item {
  font-size: 18px;
}

.header {
  text-align: center;
}

.header, label, .nav-item, .action, .shared-link, footer, .search_header {
  font-family: "cinecaption226";
}

.card-title {
  font-family: "JNRfont_n";
}

// エラーメッセージが表示されたときのフォーム崩れを防止
.field_with_errors {
  display: contents;
}

.form-box p {
  font-family: "cinecaption226";
  color: red;
}

.form-box {
  background-color: #FFF5EE;
  border: groove 15px #cd5c5c;
}

.form-box h4 {
  background-color: #DEB887;
}

.form-box label {
  text-align: center;
}

.btn-primary {
  background: #8B0000;
  border: 3px solid #8B0000;
  color: #FFFAFA;
}
.btn-primary:hover, .btn-primary:focus,
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background: #660000;
    border: 3px solid #660000;
    color: #FFFAFA;
}

.btn-primary.outline {
  border: 3px solid #8B0000;
  color: #FFFAFA;
}

.error-message-box {
  color: #CC0000;
  text-align: center;
  border: double 8px #CC0000;
  padding: 5px;
}

.error-message-box li {
  list-style: none;
}

.alert {
  color: #CC0000;
}

.notice {
  color: #00BB00;
}