// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-box {
  height: 600px;
  background-image: image-url("about_bg.jpg");
  background-size: cover;
  background-repeat: norepeat;
  background-position: center center;
  position:relative;
  padding-top: 100px;
}

.text-box {
  background-color: rgba(200,200,200,0.4);
  position: absolute;
}

.text-box h3 {
  color: white;
}

.text-box p {
  color: white;
}