// Place all the styles related to the Mysteries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-img-top {
  width: 100%;
}

.comment {
  border-bottom: solid 3px #fbdac8;
}

.comment-box h5 {
  border-bottom: solid 3px #fbdac8;
}