// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#confcollapse {
height: auto !important;
display: block !important;
transform: translateX(-100%);
transition: 0.35s transform;

&.show {
    transform: translateX(0);
}
}

.unsubscribe-message-box {
  background-color: #eee8aa;
  border-radius: 10px;
}

#follows-table td {
  text-align: center;
  vertical-align: middle;
}

.profile-list li {
  font-family: "JNRfont_n";
  text-align: center;
  margin: 1em;
  background-color: #deb887;
  border-radius: 10px;
}

.profile-list a {
  color: #990000;
}

.profile-list a:hover {
  color: #550000;
}

.content-header {
  text-align: center;
  font-family: "cinecaption226";
}