// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#confcollapse {
height: auto !important;
display: block !important;
transform: translateX(-100%);
transition: 0.35s transform;

&.show {
    transform: translateX(0);
}
}

.unsubscribe-message-box {
  background-color: #eee8aa;
  border-radius: 10px;
}