<div id="error-message-box" class="col-5 ml-3">
  <% if model.errors.any? %>
    <%= model.errors.count %> 件のエラーが発生しました</br>
    <% model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
</div>